; Set URL for your scoped packages.
; For example package with name `@foo/bar` will use this URL for download
@jooble:registry=https://gitlab.jooble.com/api/v4/packages/npm/

; Add the token for scoped packages URL. This will allow you to download
; `@foo/` packages from private projects.
//gitlab.jooble.com/api/v4/packages/npm/:_authToken="adBRD83tWy_76wkFDAkY"

; Add token for uploading to the registry.
//gitlab.jooble.com/api/v4/projects/1208/packages/npm/:_authToken="adBRD83tWy_76wkFDAkY"

; Set URL for your scoped packages.
@jooble:registry=http://gitlab.jooble.com/api/v4/packages/npm/

; Add the token for scoped packages URL. This will allow you to download
; authToken is personal token for access to package.
//gitlab.jooble.com/api/v4/packages/npm/:_authToken="D2cjCeRrsE5Adv-Jjj7U"
