.bomond-company-banner-container {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .bomond-company-banner-colorframe {
    gap: 16px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 16px;
    overflow: hidden;
    background: linear-gradient(248.6deg, rgba(247, 123, 255, 0.5) 1.46%, rgba(255, 202, 234, 0.5) 50.12%, rgba(170, 219, 254, 0.5) 82.24%, rgba(124, 255, 255, 0.5) 101.23%),linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 2px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
  }
  .bomond-company-banner-frame206888 {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
  }
  .bomond-company-banner-frame206887 {
    gap: 8px;
    height: 96px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .bomond-company-banner-text {
    color: rgba(56, 62, 71, 1);
    width: 166px;
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: left;
    font-family: "Inter", "Display";
    font-weight: 700;
    line-height: 129.99999523162842%;
    font-stretch: normal;
    text-decoration: none;
  }
  .bomond-company-banner-text5 {
    color: rgba(56, 62, 71, 1);
    width: 166px;
    height: auto;
    z-index: 2;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: "Inter";
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    text-decoration: none;
  }
  .bomond-company-banner-frame206889 {
    gap: 10px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
  }
  .bomond-company-banner-image {
    width: 111px;
    height: 112px;
    object-fit: cover;
  }
  .bomond-company-banner-buttons {
    gap: 10px;
    display: flex;
    padding: 12px 16px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
    justify-content: center;
    text-decoration: none;
    background-color: rgba(11, 113, 217, 1);
  }
  .bomond-company-banner-text7 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  