.fozzy-company-banner-container {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .fozzy-company-banner-colorframe {
    gap: 16px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 16px;
    overflow: hidden;
    background: linear-gradient(262.03deg, rgba(255, 196, 127, 0.5) -3.74%, rgba(255, 172, 137, 0.5) 75.1%, rgba(248, 153, 181, 0.5) 100.03%),linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 2px;
    flex-direction: column;
  }
  .fozzy-company-banner-frame206888 {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .fozzy-company-banner-frame206887 {
    gap: 8px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .fozzy-company-banner-text {
    color: rgb(56, 62, 71);
    width: 190px;
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: left;
    font-family: "Inter";
    font-weight: 700;
    line-height: 130%;
    font-stretch: normal;
    text-decoration: none;
  }
  .fozzy-company-banner-text1 {
    color: rgb(56, 62, 71);
    width: 193px;
    height: auto;
    z-index: 1;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: "Inter";
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    text-decoration: none;
  }
  .fozzy-company-banner-container1 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: space-between;
    flex-direction: column;
  }
  .fozzy-company-banner-image {
    width: 76px;
    object-fit: cover;
  }
  .fozzy-company-banner-buttons {
    gap: 10px;
    display: flex;
    padding: 12px 16px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
    justify-content: center;
    text-decoration: none;
    background-color: rgba(11, 113, 217, 1);
  }
  .fozzy-company-banner-text6 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: center;
    font-family: "Inter";
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  