.goldenage-company-banner-container {
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .goldenage-company-banner-colorframe {
    gap: 16px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 16px;
    overflow: hidden;
    background: radial-gradient(79.74% 204.84% at 78.03% 42.19%, rgba(255, 235, 128, 0.5) 0%, rgba(255, 196, 127, 0.5) 41.44%, rgba(255, 172, 137, 0.5) 81.56%, rgba(205, 140, 255, 0.5) 100%);
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 2px;
    flex-direction: column;
  }
  .goldenage-company-banner-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .goldenage-company-banner-frame206888 {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
  }
  .goldenage-company-banner-frame206887 {
    gap: 8px;
    height: 96px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .goldenage-company-banner-text {
    color: rgba(56, 62, 71, 1);
    width: 166px;
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: left;
    font-family: "Inter", "Display";
    font-weight: 700;
    line-height: 129.99999523162842%;
    font-stretch: normal;
    text-decoration: none;
  }
  .goldenage-company-banner-text2 {
    color: rgba(56, 62, 71, 1);
    width: 168px;
    height: auto;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: "Inter";
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    text-decoration: none;
  }
  .goldenage-company-banner-frame206889 {
    gap: -8px;
    width: 96px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .goldenage-company-banner-image {
    width: 96px;
    object-fit: cover;
  }
  .goldenage-company-banner-buttons {
    gap: 10px;
    display: flex;
    padding: 12px 16px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
    justify-content: center;
    background-color: rgba(11, 113, 217, 1);
  }
  .goldenage-company-banner-text4 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: center;
    font-family: "Inter";
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  