.test-container {
  top: 20px;
  width: 300px;
  height: 362px;
  display: flex;
  position: sticky;
  max-width: 300px;
  min-width: 300px;
  max-height: 360px;
  min-height: 360px;
  align-items: flex-start;
  flex-direction: column;
}
.test-frame1427 {
  gap: 16px;
  height: auto;
  display: flex;
  padding: 16px;
  max-width: 300px;
  box-shadow: 0px 0px 2px 0px rgba(5, 20, 41, 0.05999999865889549) ;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.test-container1 {
  gap: 6px;
  width: 268px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.test-img31 {
  width: 268px;
  height: 132px;
}
.test-text {
  color: rgba(11, 13, 14, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.test-text2 {
  color: rgba(57, 63, 71, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.test-link {
  display: contents;
}
.test-link1 {
  gap: 10px;
  width: 267px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(11, 113, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  justify-content: center;
  text-decoration: none;
}
.test-link2 {
  gap: 4px;
  display: flex;
  padding: 8px 8px 8px 12px;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.test-text4 {
  color: rgba(11, 113, 217, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.test-arrowrightup {
  width: 24px;
  height: 24px;
}
