.winner-company-banner-container {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .winner-company-banner-colorframe {
    gap: 16px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 16px;
    overflow: hidden;
    background: radial-gradient(68.92% 176.57% at 67.2% 35.42%, rgba(139, 196, 237, 0.3) 0%, rgba(62, 74, 187, 0.3) 100%),linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 2px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
  }
  .winner-company-banner-frame206888 {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
  }
  .winner-company-banner-frame206887 {
    gap: 8px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
  }
  .winner-company-banner-text {
    color: rgba(56, 62, 71, 1);
    width: 193px;
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: left;
    font-family: "Inter";
    font-weight: 700;
    line-height: 129.99999523162842%;
    font-stretch: normal;
    text-decoration: none;
  }
  .winner-company-banner-text2 {
    color: rgba(56, 62, 71, 1);
    width: 193px;
    height: auto;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: "Inter";
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    text-decoration: none;
  }
  .winner-company-banner-frame206889 {
    gap: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
  }
  .winner-company-banner-image {
    width: 75px;
    object-fit: cover;
  }
  .winner-company-banner-buttons {
    gap: 10px;
    display: flex;
    padding: 12px 16px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
    justify-content: center;
    text-decoration: none;
    background-color: rgba(11, 113, 217, 1);
  }
  .winner-company-banner-text4 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: center;
    font-family: "Inter";
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  